/** sass的全局变量都在此进行声明配置 */

/**===================layout top===============================*/

//顶部导航的高度
$tabbar-height:42px;

//左侧菜单宽度
$menu-max-width: 255px;
$menu-min-width: 64px;
$header-background-color:#ffffff;
$sys-main-color:#409eff;
//左侧菜单背景颜色
$menu-background-color: #ffffff;

$menu-text-active-color:#409eff;

//左侧菜单logo高度
$header-height:42px;


//左侧菜单logo右侧文字大小
$menu-top-box-title-fontSize:20px;

/**===================layout bottom===============================*/